body{
    background-image: url(../img/sfondo\ inter.avif);
    display: flex;
    flex-direction: column;
    
}

h2{
    text-align: center;
    font-size: 50px;
    color: white;
}


.calendar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-day{
    background-color: white;
    text-align: center;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% / 7 - 5px);
    aspect-ratio: 1;
    border: 1px solid black;
    font-size: 20px;
}
span{
    flex-grow: 1;
}

.text-red{
    font-weight: 700;
    color: red;
}

.month-name{
    font-size: 16px;
}
